.map-chart:focus,
.map-chart *:focus {
  outline: none;
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.control-buttons {
  display: flex;
  gap: 12px;
}

.control-buttons button:hover {
  cursor: pointer;
}

.controls button {
  margin-bottom: 10px; /* Add margin between buttons and the bottom of the div */
}

.custom-stack {
  margin-bottom: 10px; /* Add margin between the Stack and the bottom of the div */
}

.custom-button {
  /* Add any specific styling for the buttons within the Stack */
  margin-bottom: 10px; /* Add margin between buttons */
}
